@font-face {
  font-display: swap;
  font-family: "ES Allianz";
  src: url("/assets/fonts/ESAllianz-Light.otf") format("woff2"),
}

@font-face {
  font-display: swap;
  font-family: "ES Allianz";
  font-weight: bold;
  src: url("/assets/fonts/ESAllianz-Medium.otf") format("woff2"),
}
