@font-face {
  font-display: swap;
  font-family: "ES Allianz";
  src: url("/assets/fonts/ESAllianz-Light-Trial.otf") format("opentype"),
}

@font-face {
  font-display: swap;
  font-family: "ES Allianz";
  font-weight: bold;
  src: url("/assets/fonts/ESAllianz-Medium-Trial.otf") format("opentype"),
}
