<!DOCTYPE html>
<html lang="fr-CH">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="/assets/fonts/ESAllianz-Light-Trial.otf" rel="preload" as="font">
    <link href="/assets/fonts/ESAllianz-LightItalic-Trial.otf" rel="preload" as="font">
    <link href="/assets/fonts/ESAllianz-Medium-Trial.otf" rel="preload" as="font">
    <link href="/assets/fonts/ESAllianz-MediumItalic-Trial.otf" rel="preload" as="font">
  </head>
  <body>
    <nav class="menu">
      <a href="/">Vanessa Riera</a>
      <a href="/expositions/">Expo</a>
      <a href="/bio/">Bio</a>
      <a href="/contact/">Contact</a>
    </nav>
    {{ content }}
  </body>
</html>
